/*Importaciones fuentes*/
@font-face{
	font-family: "Bebas Neue";
	src: url("../fuentes/BebasNeue.otf");
}
@font-face {
	font-family: 'robotolight';
	src: url('../fuentes/Roboto-Light.ttf');
}
@font-face {
	font-family: 'newscycle';
	src: url('../fuentes/NewsCycle-Regular.ttf');
}
@font-face {
	font-family: 'questrial';
	src: url('../fuentes/Questrial-Regular.ttf');
}
@font-face {
	font-family: 'quicksand';
	src: url('../fuentes/Quicksand-Regular.ttf');
}
@font-face {
	font-family: 'robotothin';
	src: url('../fuentes/Roboto-Thin.ttf');
}
/*Fin importaciones fuentes*/

/*Etiquetas*/
body{
	font-family: "robotolight";
} 
footer {
	background: #333;
	color: #eee;
	font-size: 11px;
	padding: 16px;
}
hr {
	border-color: #009A33;
}
i {

}
/*Fin etiquetas*/


/********************Clases**********************************/
/*Botones*/
.btn {
	-webkit-border-radius: 0;
	-moz-border-radius:    0;
	border-radius:         0;
}

.btn-animacion {
	-webkit-transition: background .3s ease-in-out, border .3s ease-in-out;
	-moz-transition: background .3s ease-in-out, border .3s ease-in-out;
	-ms-transition: background .3s ease-in-out, border .3s ease-in-out;
	-o-transition: background .3s ease-in-out, border .3s ease-in-out;
	transition: background .3s ease-in-out, border .3s ease-in-out;
}

.btn-blanco, .btn-blanco:focus, .btn-blanco:active {
	border-color: #fff;
	color: white;
}

.btn-blanco:hover {
	background: rgba(255,255,255,0.2);
	color: white;	
}

.btn-verde, .btn-verde:focus, .btn-verde:active {
	border-color: #008F30;
	color: #008F30;
}

.btn-verde:hover {
	background: rgba(0,143,48,0.2);
	color: #008F30;	
}
/*Fin botones*/

.imagenEncabezado {
	-moz-background-size: cover;
	-webkit-background-size:cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.jumbotron {
	height: 650px;
	text-align: center;
}

.mi-contenedor{
	padding: 30px 14px;
}

.mi-contenedor > h1{
	padding-top: 50px;
}

.mi-contenedor, .mi-contenedor-se{
	color: inherit;
	margin-bottom: 30px;
	width: 70%;	
}
.p {
	font-size: 15px;
}

.texto-blanco {
	color: #fff;
}

.texto-gris {
	color: #eee;
}

.titulo, .titulo-lg, .titulo-sm {
	font-family: "Bebas Neue";
}

.titulo-lg {
	font-size: 45px;
	letter-spacing: 5px;
}

.titulo-sm {
	font-size: 17pt;
}

/*Titulo subrrayado*/
.titulo-sb{
	border-bottom: 2px solid #35A027;
}

.unstyled {
	list-style: none;
	padding: 0;
}
/********************Fin clases******************************/


/*Id's*/
#logo {
	height: 40px;
	margin-top: 2px;
	width: 248.78px;
}

#encabezado1 {
	background-image: url("../img/fondos/f1.jpg");
}

#encabezado2 {
	background-image: url("../img/fondos/f2.jpg");	
}

#ImagenSeccion {
	width: 164px;
	height: 164px;
}

#seccionAqua {
	background: #009688;
}

#TituloSeccion {
	height: 50px;
}
/*Fin id's