/*Para tamaños grandes*/
@media all and (min-width: 1000px){
	.jumbotron>h1{
		padding-top: 220px;
	}
}
/*Fin para tamaños grandes*/


/*Para tamaños medianos*/
@media all and (min-width: 700px) and (max-width: 999px){
	.jumbotron>h1{
		padding-top: 190px;
	}

	@media all and (min-width: 750px){
		#TituloSeccion{
			height: 70px;
		}
	}
}
/*Fin para tamaños medianos*/


/*Para tamaños pequeños*/
@media all and (max-width: 699px){
	
}
/*Fin para tamaños pequeños*/